<link href="/css/bucket.css"
      rel="stylesheet">
<script defer
        src="/js/bucket.js"></script>
<div class="bucket-content-wrap">
  <div class="bucket-wrap">
  </div>
  <div class="bucket-info">
    <button class="btn btn-success"> Заказать</button>
    <p class="total-price">Итого: </p>
  </div>
</div>


