<link rel="stylesheet" href="/css/bucket.css">

<div class="bucket">
<div class="bucket">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6DjhPmcedkoFjbhEzEYA_0VPj9uGJdmqbnA&usqp=CAU">
</div>
<div class="column">
<p class="image">TOBAP1</p>
<p>TOBAP1</p>
<p>ТЕЛО ТОВАРА</p>
<p>BODY ТОВАРА</p>
</div>
</div>
<div class="bucket">
<div class="bucket">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6DjhPmcedkoFjbhEzEYA_0VPj9uGJdmqbnA&usqp=CAU">
</div>
<div class="column">
<p class="image">TOBAP1</p>
<p>TOBAP1</p>
<p>ТЕЛО ТОВАРА</p>
<p>BODY ТОВАРА</p>
</div>
</div>

<div class="bucket">
<div class="bucket">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6DjhPmcedkoFjbhEzEYA_0VPj9uGJdmqbnA&usqp=CAU">
</div>
<div class="column">
<p class="image">TOBAP1</p>
<p>TOBAP1</p>
<p>ТЕЛО ТОВАРА</p>
<p>BODY ТОВАРА</p>
</div>
</div>

<div class="bucket">
<div class="bucket">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6DjhPmcedkoFjbhEzEYA_0VPj9uGJdmqbnA&usqp=CAU">
</div>
<div class="column">
<p class="image">TOBAP1</p>
<p>TOBAP1</p>
<p>ТЕЛО ТОВАРА</p>
<p>BODY ТОВАРА</p>
</div>
</div>