
<form action="/card" class="form-wrap" method="POST">
<div class="input-group mb-3">
  <input type="text" class="form-control" name="title" placeholder="Введите название товара" aria-label="Recipient's username" aria-describedby="button-addon2">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" name="body" placeholder="Введите описание товара" aria-label="Recipient's username" aria-describedby="button-addon2">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" name="state" placeholder="Введите состояние товара" aria-label="Recipient's username" aria-describedby="button-addon2">
</div><div class="input-group mb-3">
  <input type="text" class="form-control" name="city" placeholder="Введите город где продаёте" aria-label="Recipient's username" aria-describedby="button-addon2">
</div>

<div class="input-group">
  <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="Введите цену товара">
  <span class="input-group-text">РУБ</span>
</div>
<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
</div>
<div class ="input-group mb-3"><button class="btn btn-outline-secondary" type="submit" id="button-addon2">Готово</button></div>
</form>