
 <link href="/css/profile.css"
        rel="stylesheet">

<div class="wrap">
<div  class="leftmenu">
  <button><a href="/user/card" >Добавить Карточку</a></button>
  <button><a href="/user/posts/{{this.id}}">Мои Товары</a></button> 
  <button><a href="">Инфо</a></button>
</div>
<div class="data">
  <img src="/img/mainBg.jpg" alt="mainBg.jpg">
<p>Имя: {{user.name}}</p>
<p>Email: {{user.email}}</p>
<p>Город: {{user.City.title}}</p>
</div>
</div>
