<form class="form-wrap">
  <div id="liveAlertPlaceholder"></div>
  <div class="form-floating mb-3">
    <input class="form-control"
           id="inputName"
           name="name"
           placeholder="Введите ваше имя"
           type="name"
    >

    <label for="inputName">Введите ваше имя</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control"
           id="inputEmail"
           name="email"
           placeholder="Введите вашу почту"
           type="email"
    >

    <label for="inputEmail">Введите вашу почту</label>
  </div>
  <div class="form-floating mb-3">
    <input class="form-control"
           id="inputPassword"
           name="password"
           placeholder="Введите пароль"
           type="password"
    >
    <label for="inputCity">Введите пароль</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="inputCity"
           name="city"
           placeholder="Введите город"
           type="text"
    >
    <label for="inputPassword">Введите город</label>
  </div>
  <button class="btn btn-success"
          type="submit"> Регистрация
  </button>
</form>

<script src="/js/signup.js"></script>
