<form class="form-wrap">
  <div id="liveAlertPlaceholder"></div>
  <div class="form-floating mb-3">
    <input class="form-control"
           id="floatingInput"
           name="email"
           placeholder="Введите email"
           type="email"
    >

    <label for="floatingInput">Введите email</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="floatingPassword"
           name="password"
           placeholder="Введите пароль"
           type="password"
    >
    <label for="floatingPassword">Введите пароль</label>
  </div>
  <button class="btn btn-success"
          type="submit"> Вход
  </button>
</form>


<script src="/js/signin.js"></script>
