<form class="form-wrap">
  <div class="form-floating mb-3">
    <input class="form-control"
           id="floatingInput"
           name="email"
           placeholder="name@example.com"
           type="email"
    >

    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input class="form-control"
           id="floatingPassword"
           name="password"
           placeholder="Password"
           type="password"
    >
    <label for="floatingPassword">Password</label>
  </div>
  <button class="btn btn-success"
          type="submit"> Вход
  </button>
</form>

<script src="/js/signin.js"></script>
