
* {

}

body {
  position: relative;
  min-height: 100vh;
  padding: 50px;
}

body::after {
  content: "";
  position: absolute;
  min-height: 100vh;
  background: url("/img/mainBg.jpg") no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: brightness(0.3);
}

.nav {
  width: fit-content;
  margin-left: auto;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  border-radius: 20px;
}

.form-wrap > button {
  width: fit-content;
  margin-top: 20px;
}

