.count {
  top: 0;
  position: absolute;
  right: 0;
  background: red;
  border-radius: 20px;
  width: 30px;
  font-size: 14px;
  transform: translate(50%, -50%);
}

.content-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}

.grid-layout {
  grid-gap: 60px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 50px;
}

.grid-layout.appear {
  animation: appear 0.4s ease-in-out forwards;
}

.grid-layout.disappear {
  animation: disappear 0.4s ease-in-out forwards;
}

.card-wrap {
  width: 100%;
  height: 100%;
  grid-column-start: span 2;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-card {
  flex: 0 0 auto;
  min-height: 150px;
  width: 100%;
}

.image-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.card-image {
  max-height: 100%;
  max-width: 100%;
}

.info {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  width: 100%;
}

.search-wrap {
  width: 30%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: blue;
  margin: 10px auto;
}

input.search {
  padding-left: 10px;
  line-height: 30px;
  margin: 5px 0 5px 10px;
  width: 100%;
}

i.clear {
  display: inline-flex;
  width: 20px;
  font-size: 24px;
  transform: translateX(calc(-100% - 10px));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

i.clear:hover {
  color: #ea6a6a;
}

i.search {
  margin-left: -20px;
  font-size: 30px;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

i.search:hover {
  color: rgba(17, 255, 0, 0.7);
}

.price {
  font-weight: bold;
  text-align: center;
}

.events-none {
  pointer-events: none;
}


.buy.disappear {
  animation: disappear 0.4s ease-in-out forwards;
}

.buy.appear {
  animation: appear 0.4s ease-in-out forwards;
}

.appearLeft {
  animation: appearLeft 0.6s ease-in-out forwards;
}

.appearTop {
  animation: appearTop 0.6s ease-in-out forwards;
}

.appearRight {
  animation: appearRight 0.6s ease-in-out forwards;
}

.appearBottom {
  animation: appearBottom 0.6s ease-in-out forwards;
}

@keyframes appearLeft {
  from {
    visibility: hidden;
    opacity: 0;
    transform: scale(0) translateX(200%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes appearRight {
  from {
    visibility: hidden;
    opacity: 0;
    transform: scale(0) translateX(-200%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes appearTop {
  from {
    visibility: hidden;
    opacity: 0;
    transform: scale(0) translateY(-200%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes appearBottom {
  from {
    visibility: hidden;
    opacity: 0;
    transform: scale(0) translateY(200%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes appear {
  from {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes disappear {
  from {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  to {
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
  }
}
